html {
  height: 100%;
  width: 100%;
  background-color: #ff9300;
}
#h1{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
  list-style: none; 
  margin:auto;
  width: 50%;
  text-align: center;

}  
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ff9300;
}
nav li{
  margin: 0 10px;
}nav li a{
  padding: 10px;
  text-decoration: none;
  front-weight: bold;
  color: #000000;
  float: left;
}
nav li a:hover{
  color: #000000;
  background-color: #ffffff;
}
p{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.carousel {
  position: relative;
  max-width: 800px; /* Set your desired width */
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.gallery-item {
  margin-bottom: 20px;
  text-align: center;
}

.gallery-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-item p {
  margin: 5px 0;
}